발표자료/AI후속조지내용작성_n8n.json
{
  "name": "AI_후속조치_작성",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/data/my_db/ai_summary_output_openai4dot1.xlsx",
        "options": {
          "fileExtension": "xlsx"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -40,
        0
      ],
      "id": "79f1f444-5961-44e4-b82d-144d3b4c17d2",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "range": ""
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        180,
        0
      ],
      "id": "c7d92edc-a605-4e99-aa58-2d5a6b828275",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "[\"주요 개정 내용\"], ['소관부처'], ['담당부서'], ['법률명']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        125
      ],
      "id": "2acc8701-58f2-4e66-aa4f-7cc3be5ae96b",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1216,
        0
      ],
      "id": "889d9b92-f330-418d-916d-9554fb9c7802",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/my_db/ai_advice_output_sonnet4.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1656,
        0
      ],
      "id": "7e0a23f3-8b88-4ef4-927a-be6376306528",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1436,
        0
      ],
      "id": "96e83d83-91be-4412-962b-1b2881891efe",
      "name": "Convert to File1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        0
      ],
      "id": "2f7a0da2-83c9-40e6-9700-832cfc48ae8f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        640,
        340
      ],
      "id": "18dbc529-21b6-46e4-8dac-1cb7367f3395",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Op5vVqVKHUzK0BOz",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24a62dc0-0452-4e34-916b-8662761e181e",
              "name": "AI 후속 조치 사항",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        996,
        125
      ],
      "id": "ed0d7f92-fbd3-481a-8db6-d385707393b4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## 입력 정보\n- 후속조치 시행 기업 정보 : 포스코 퓨처엠 (대기업|이차전지 소재 제조업)\n**법규 정보:**\n- 법률명(약칭): \n{{ $json['[\\'법률명\\']'] }}\n- 소관부처: \n{{ $json['[\\'소관부처\\']'] }}\n- 담당부서: \n{{ $json['[\\'담당부서\\']'] }}\n\n**개정 내용/이유:**\n{{ $json['[\"주요 개정 내용\"]'] }}\n\n**제약사항**\n- 출력 형식 외의 카테고리는 작성하지 않습니다.\n- 이모지 사용 금지\n\n<출력 형식>\n**개정 내용/이유**가 None이거나 내용이 없으면 **출력 형식**은 \"후속 조치 사항 없음\" 으로 작성\n|또는 내용이 있는경우|\n# [AI 개정 법규 분석]\n\n## [개정 법규 분석 결과]\n\n## [현행 법령의 주요 요구사항]\n(개정 요지 기준으로 작성)\n\n## [{{ $json['[\\'담당부서\\']'] }}의 후속조치 사항]\n</출력 형식>",
        "options": {
          "systemMessage": "당신은 15년 이상 경력의 기업 준법 컨설턴트입니다. 법규 개정사항을 분석하여 각 부서와 담당자가 실제로 수행해야 할 구체적인 후속조치를 제시하는 전문가입니다.\n\n**전문성:**\n- 법령 개정이 실무에 미치는 영향 분석\n- 입력된 담당부서 맞춤형 액션플랜 수립\n- 우선순위 기반의 단계별 이행계획 설계\n- 현장 중심의 실용적 가이드라인 제공\n\n**분석 원칙:**\n\"법규 분석 결과 - 현행 법령의 주요 요구사항, 준수해야 할 핵심 의무사항, 위반 시 제재 내용, 현재 회사 정책과의 격차 분석을 포함한 상세한 법적 검토 의견\"\n\n다음 법규 개정사항을 분석하여 담당부서의 실무 후속조치를 제시해주세요. (소관부처 관련내용 작성금지 그냥 참고용)\n만약 **개정 내용/이유:** 내용이 없으면 (\"내용/조치사항 없음\")만 작성해주세요"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        620,
        125
      ],
      "id": "e120a616-32c3-456d-afe1-0deca4a81b7a",
      "name": "AI 후속 조치 정리"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "AI 후속 조치 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI 후속 조치 정리",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI 후속 조치 정리": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d0979613-c169-4ccc-8d07-5903f8d966ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3bad0afe208dabd75bf117f67caef7a75a2a87daa3f260e7b878938b522d759"
  },
  "id": "wEZLhtop4goFdItJ",
  "tags": []
}